* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background: white;
    width: auto;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
	list-style-type: none;
	padding:0; 
	margin:0;
	width: 100%;
}
.hero-bg{
	background-image:url(images/hero-bg.jpg);
	background-size: 800px;
	width:100%;
	height:800px;
}

.navbar{
	width: 100%;
	height: auto;
	overflow: auto;
	margin-left: 18px;
}

li{
	float: left;
	margin:20px 25px;
}
.contain{
	width:1280px;
	margin:0, auto;
}

h1{
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	line-height: 40px;
	font-size: 30px;
	color:#555146;
}

h2{
	color: rgba(255, 255, 255, 0.75);
	font-size: 20px;
}

.poem {
	margin-left: 40px;
	margin-top: 0px;
	overflow: auto;
}

a{
	opacity: 60%;
	color: #555146;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

a:hover{
	opacity: 100%;
	color: #555146;
	border-color: #555146;
	text-decoration: none;
	border-bottom: 3px solid #555146;
}

.divider{
	width:100%;
	height:40px;
	background-color:#555146;
}

.shift{
	position:relative;
	top:50px;
	left:0px;
	z-index:200;
}

.detail-bg{
	background-image:url(images/regrets_expertise.jpg);
	background-size: 800px;
	width:100%;
	height:800px;
	overflow:auto;
}

section{
	position: relative;
	top:0;
	right:0;
}

section:before{
	content:"";
	background-color: #C8B78B;
	opacity: 0.3;
	width: 100%;
    height: 100%;
    z-index: 100;
    position:absolute;
    top:0;
    right:0; 
} 

.clear{
	clear:both;
}

.annecdote{
	width: 580px;
	height: auto;
}

p{
	margin: 2px 0px 0px 0px;
	font-size: 16px;
	color: white;
}
	
@media screen and (min-width: 600px) {
    body {
        background: orange;
        font-family: 'Source Sans Pro', sans-serif;
    }

	h1 {
		font-family: 'Pacifico', cursive;
		font-weight: bold;
		line-height: 70px;
		font-size: 50px;
	}

	.hero-bg{
		background-image:url(images/hero-bg.jpg);
		background-size: 1280px;
		width:100%;
		height:800px;
	}

	.detail-bg{
		background-image:url(images/regrets_expertise.jpg);
		background-size: 1445px;
		width:100%;
		height:800px;
	}



}
